.navbar{
    padding-top: 1em;
    padding-left: 1em;
}
main{
    padding-left: 1em;
    background-color: rgba(0, 0, 0, 0.3);

}
main h1{
    color: red;
    list-style-type: none;
}

section a: hover{
    color: blue;
    text-decoration: none;
}

header{
    width: 100%;
    color: green;
}

footer{
    width: 100%;
    padding-left: 1em;
    text-align: center;
}
