{% extends "index.jinja2" %}
{% block body %}
    <body>
        <article>
            <h1>{{ entry.title }}</h1>
            <p>Created <strong>{{ entry.creation_date }}</strong></p>
            <p>{{ entry.body }}</p>
        </article>
    </body>
</html>
{% endblock %}
