{% extends "layout.jinja2" %}
{% block body %}
    <body>
        <article>
            <h1>{{ title }}</h1>
            <p>Created <strong>{{ creation_date }}</strong></p>
            <p>{{ body }}</p>
        </article>
    </body>
</html>
{% endblock %}
