<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Home Page</h1>
                <article>
                    <h2>This is my LJ titile</h2>
                    <hr />
                    <p>Created today</p>
                </article>
            <p>This journal is empty</p>
        <footer></footer>
    </body>
</html>
